<ul class="todo_list">
  <li *ngFor="let task of tasks" class="todo_item">
    <p class="todo_item-title">{{ task.text }}</p>
    <mat-checkbox (change)="handleDoneChange(task)" [checked]="task.done">{{
      task.done ? "Task is done" : "Task is not done"
    }}</mat-checkbox>

    <div class="additional-wrapper">
      <p class="todo_item-date">{{ getFormatDate(task.created) }}</p>
      <button
        class="todo_item-delete_button"
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
        (click)="handleDelete(task)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </li>
</ul>
